ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

  # /2010/01/10/timezone-override.html

  # /2010/01/10/time-override.html

  # /2010/01/10/override-data.html

  # /2010/01/10/date-override.html

  # /2010/01/08/triple-dash.html

  # /2009/06/22/no-yaml.html

  # /2009/06/22/empty-yaml.html

  # /win/2009/05/24/yaml-linebreak.html

  # /2009/05/18/tags.html

  # /2009/05/18/tag.html

  # /2009/05/18/empty-tags.html

  # /2009/05/18/empty-tag.html

  # /2009/03/12/hash-%231.html

  # /2009/01/27/empty-category.html

  # /2009/01/27/empty-categories.html

  # /foo/2009/01/27/category.html

  # /foo/bar/baz/2009/01/27/categories.html

  # /foo/bar/baz/2009/01/27/array-categories.html

  # /2008/12/13/include.html

  # /foo/2008/12/12/topical-post.html

  # my_category/permalinked-post

  # /2008/11/21/complex.html

  # /2008/10/18/foo-bar.html

  # /category/2008/09/23/categories.html

  # /z_category/2008/09/23/categories.html

  # /publish_test/2008/02/02/published.html
